@import '~bulma/sass/utilities/_all';

$primary: #327dbf;
$primary-invert: findColorInvert($primary);

$colors: (
  "primary": ($primary, $primary-invert)
);

@import '~bulma';
@import '~buefy/src/scss/buefy';